//    banner border: 1px dashed red
.banner
  height: 100%
  width: 500px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 230px
  width: 550px
  &--white
    background: rgba(245, 250, 250, 0.5)
    left: 50%
    bottom: 50%
    position: absolute
    transform: translate(-50%, 50%)
  &--little
    height: 100%
    width: 100%
    border: none
  &--pink
    background-color: #e69185
    height: 100%
    width: 100%
  &--blue
    background-color: rgba(20, 163, 132, 0.3)
    height: 320px
    width: 440px
    padding: 103px, 40px
    transform: translate(10%, -15%)
  &__title
    font-family: 'Dancing Script', cursive
    font-size: 50px
    letter-spacing: 3px
    color: black
    text-decoration: none
    &:hover
      text-decoration: none
      color: black
    &--little
      padding-top: 30px
  &__link
    font-family: 'Roboto', sans-serif
    font-size: 16px
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    width: 190px
    background-color: white
    font-size: 16px
    text-transform: uppercase
    color: black
    &:hover
      text-decoration: none
      color: white
      background-color: black
  &__text
      font-family: 'Roboto', sans-serif
      font-size: 16px
      color: black
      text-transform: uppercase
      text-align: center
      width: auto
      &--small
        font-size: 15px
        padding-top: 90px
      // banner