// banner
.banner
  height: 400px
  margin-left: -40px
  margin-right: -40px
  position: relative
  margin-bottom: 50px
  &--top-space
    margin-top: 50px
  &__promo
    width: 520px
    height: 100%
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &--center
      height: calc(100% - 80px)
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    &--left
      left: 40px
      top: -40px
    &--right
      right: 40px
      top: -40px
// banner END