.btn
  color: $black
  text-transform: uppercase
  font-size: 14px
  font-weight: 300
  cursor: pointer
  border: none
  background-color: transparent
  transition: 0.5s
  &:hover
    border: none 
    box-shadow: none
    transition: 0.5s
  &:active
    box-shadow: none
    border: none 
    outline: none !important
  &:focus
    box-shadow: none
    border: none
    outline: none
  &__banner
    padding: 12px 20px
    background-color: $white
    &:hover
      background-color: $black
      color: $white
    &:active
      background-color: $black
      color: $white
    &:focus
      background-color: $black
      color: $white
