// cards
.cards
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  font-family: 'Roboto', sans-serif
  font-size: 18px
  border: 1px solid #d6d5d2
  height: 338px
  &__img
    height: 220px
    width: 220px
  &__text
    text-align: center
  &__price
    font-weight: bold    
       