.product
  margin-bottom: 100px
.card
  border: 1px solid $grey-light
  text-align: center
  padding: 10px 20px
  height: calc(100% - 24px)
  margin-bottom: 24px
  display: flex
  flex-direction: column
  overflow: hidden
  justify-content: space-between
  color: $black
  transition: 0.5s
  &:hover, &:active, &:focus
    color: $black
    text-decoration: none
    box-shadow: 2px 2px 17px -4px rgba(148,143,148,1)
  &__img
    width: 100%
  &__name
    font-family: $roboto-font
    font-size: 18px
  &__price
    font-family: $roboto-font
    font-size: 16px
    &--coast 
      font-size: 20px
      font-weight: 500

