// context border: 1px dashed pink
.context
    background-color: pink
    height: 400px
    width: auto
    margin-top: 30px
    // display: flex
    // justify-content: center
    // align-items: center
    position: relative
    &--sets
        background-image: url("../img/background-sets.jpg")
    &--bottle
        background-image: url("../img/home-la-marque.jpg")
        margin-top: 100px
            
