// footer
.footer
  &--wrap
    height: 40px
    width: auto
    background-color: black 
    align-items: center
    display: flex
    margin-left: -16px
    margin-right: -16px
    @media screen and (max-width : 767px)
      height: auto
  &__nav
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: -16px
    margin-right: -16px
    @media screen and (max-width : 767px)
      flex-direction: column
      height: auto
  &__link
    color: white
    text-transform: uppercase
    font-size: 14px
    @media screen and (max-width : 479px)
      font-size: 12px
    &:hover
      text-decoration: none
      color: white
  &__text
    margin-bottom: 0
    color: white
    text-transform: uppercase
    font-size: 14px
// footer END

