.footer
  &__nav
    background-color: $black
    padding: 10px
  &__nav-wrap
    text-align: center
  &__copywrite
    text-align: center
    font-size: 13px
    margin: 0
    &--italic 
      font-style: italic
  &__nav-bottom
    text-align: center
  
.contact
  padding: 60px 50px 30px 50px
  background-color: $bg-pink
  //margin-bottom: 30px
  &__wrap
    text-align: center
    padding: 0 30px
  &__title
    font-family: $cursive-font
    font-size: 38px
  &__text
    font-size: 16px
.social-link
  margin-right: 40px 
.icon
  transition: 0.3s
  height: 23px
  width: 23px
  &:hover
    fill: $pink

.form
  //text-align: center
  display: flex
  justify-content: center
  margin-top: 30px
  margin-bottom: 30px
  align-items: stretch
  &__input
    border: 1px solid $grey-light
    padding: 0
    padding: 6px 16px
    &::placeholder
      color: $grey
      font-family: $roboto-font
      font-weight: 300
      font-size: 16px
