// form
.form
  display: flex
  align-items: center
  margin-bottom: 30px
  &__input
    font-size: 16px
    padding: 8px 10px
    line-height: 1
    border: 1px solid $gray
    display: inline-block
    transition: all 0.3s ease
    border-right: none
    transition: all 0.3s ease
    outline: none !important
    &::placeholder
      color: rgba($black, 0.8)
    &:hover, &:active, &:focus
      border: 1px solid $black
      border-right: none
      &::placeholder
        color: rgba($black, 1)
// form END