//header
.header
  &__top
    display: flex
    justify-content: space-between
    padding: 15px
    margin-bottom: 10px
  &__counter
    content: '0'
    display: inline-block
    height: 20px
    width: 20px
    background-color: $black
    border-radius: 50%
    color: $white
  &__logo
    text-align: center
    cursor: pointer
    &-img 
      height: 69px
      width: 234px
      margin-bottom: 25px
    &-discription 
      font-family: $cursive-font
      font-size: 26px
      letter-spacing: 1.2
      line-height: 1.2
      position: relative
      &:after
        content: ''
        position: absolute
        bottom: -25px
        left: 50%
        height: 1px
        width: 300px
        background-color: $black
        transform: translateX(-50%)
    
  &__nav
    display: flex
    justify-content: center
    margin-top: 60px 
    margin-bottom: 20px





  


  



//header END