// link
.link
  &--logo
    font-family: $decor-font
    color: $black
    font-size: 26px
    letter-spacing: 1.2px
    position: relative
    padding-bottom: 20px
    margin-bottom: 35px
    &:after
      content: ''
      display: block
      width: 75%
      position: absolute
      left: 50%
      bottom: 0
      height: 1px 
      background-color: $black
      transform: translateX(-50%)
      transition: all 0.3s ease
    &:hover, &:active, &:focus
      color: $black
      text-decoration: none
      &:after
        width: 100%
    @media only screen and (max-width : 479px)
      text-align: center
      line-height: 1.2
      padding-bottom: 10px
      margin-bottom: 25px
  &--header
    background-color: transparent
    border: none
    font-size: 16px
    text-transform: uppercase
    padding: 5px 5px
    margin-right: 25px
    letter-spacing: 0.8px
    color: $black
    transition: all 0.3s ease
    text-decoration: none
    position: relative
    &:after
      content: ''
      display: block
      width: 50%
      position: absolute
      left: 50%
      bottom: 0
      height: 1px 
      background-color: transparent
      transform: translateX(-50%)
      transition: all 0.3s ease
    &:last-of-type
      margin-right: 0
    &:hover, &:active, &:focus
      text-decoration: none
      color: $black
      &:after
        width: 100%
        background-color: $black
    @media only screen and (max-width : 1279px)
      font-size: 14px
      margin-right: 10px
  &--header-small
    font-size: 14px
    margin-right: 0
    padding: 5px 10px
    @media only screen and (max-width : 479px)
      padding: 5px
  &--overlay
    padding: 12px 20px
    font-size: 14px
    border: none
    background-color: $white
    text-transform: uppercase
    letter-spacing: 1px
    text-align: center
    line-height: 1
    color: $black
    transition: all 0.3s ease
    margin-bottom: 10px
    &:hover, &:active, &:focus
      text-decoration: none
      background-color: $black
      color: $white
  &--footer-white
    font-size: 14px
    letter-spacing: 0.5px
    text-transform: uppercase
    color: $white
    padding: 5px 0
    display: block
    text-align: center
    margin-left: auto
    margin-right: auto
    flex: none
    &:hover, &:active, &:focus
      text-decoration: none
      color: $white
  &--footer-white-border
    position: relative
    padding: 5px 0
    display: inline-block
    &:after
      content: ''
      display: block
      width: 50%
      position: absolute
      left: 50%
      bottom: 0
      height: 1px 
      background-color: transparent
      transform: translateX(-50%)
      transition: all 0.3s ease
    &:hover, &:active, &:focus
      text-decoration: none
      color: $white
      &:after
        width: 100%
        background-color: $white
    @media only screen and (max-width : 991px)
      &:after
        background-color: $white
        width: 100%
      &:hover, &:active, &:focus
        &:after
          width: 80%
  &--footer-black
    font-size: 16px
    color: $black
    text-align: center
    display: block
    position: relative
    &:hover, &:active, &:focus
      color: $black
  &--footer-small
    font-size: 13px
    margin-right: 25px
    &:last-of-type
      margin-right: 0
    @media only screen and (max-width : 767px)
      margin-bottom: 5px
  &--footer-black-border
    position: relative
    display: inline-block
    &:after
      content: ''
      display: block
      width: 100%
      position: absolute
      left: 50%
      bottom: 0
      height: 1px 
      background-color: $black
      transform: translateX(-50%)
      transition: all 0.3s ease
    &:hover, &:active, &:focus
      text-decoration: none
      color: $black
      &:after
        width: 80%
  &--social
    margin-right: 20px
    &:last-of-type
      margin-right: 0
    &:hover, &:active, &:focus
      text-decoration: none

// link END