// main
.main
    &__sets
        border: 1px dashed pink
        background-image: url("../img/background-sets.jpg")
        height: 400px
        margin-left: -17px
        margin-right: -17px
        margin-top: 30px