// main border: 1px dashed pink
.main
    &__sets
        background-image: url("../img/background-sets.jpg")
        height: 400px
        width: auto
        margin-top: 30px
        display: flex
        justify-content: center
        align-items: center
    &__banner
        background: rgba(245, 250, 250, 0.5)

            
