// main border: 1px dashed pink
.main
    &__sets
        border: 1px dashed pink
        background-image: url("../img/background-sets.jpg")
        height: 400px
        width: auto
        margin-top: 30px
        display: flex
        justify-content: center
        align-items: center
    // &__stretch
    //     display: flex
    //     align-items: stretch 
            
