// slider 
.slider
  margin-bottom: 50px
  position: relative
  &__item
    display: block
  &__title
    font-size: 38px
    font-family: $decor-font
    text-align: center
    font-weight: 400
    margin-bottom: 10px
  &__quote
    font-size: 22px
    letter-spacing: 1.5px
    margin-bottom: 30px  
    text-align: center
    display: inline-block
  &__quote-author
    font-size: 20px
    text-align: center
    font-weight: 700
    padding-bottom: 70px
  &__control
    position: absolute
    width: 50px
    height: 10px
    // border: 1px dashed orange
    bottom: 50px
    left: 50%
    transform: translateX(-50%)

// slider END