
.slider
  margin-bottom: 60px
.slider-content
  text-align: center
  //border: 1px dashed red
  padding-bottom: 40px
  position: relative
  &__title
    font-family: $cursive-font
    font-size: 38px 
  &__text
    font-style: italic
    font-size: 22px
    line-height: 1.36
    margin-bottom: 60px
  &__img
    position: absolute
    bottom: -10px
    right: 0
.resource
  margin-bottom: 60px 
.controls
  display: flex
  justify-content: center
  //border: 1px dashed red
  &__item
    height: 15px
    width: 15px
    border-radius: 50%
    border: 1px solid $black
    cursor: pointer
    transition: 0.4s
    &:not(:last-child)
      margin-right: 15px
    &:hover, &:active, &focus, &.active
      background-color: $black



