// fonts
$main-font: 'Saira Semi Condensed', sans-serif
$roboto-font: 'Roboto', sans-serif
$cursive-font: 'Cedarville Cursive', cursive

// color
$violet: #FF00AE
$black:  #000000
$white:  #FFFFFF
$grey:   #757575
$grey-light: #CCCCCC
$bg-pink: #FBF1EE
$pink: #fca2a2
//helpers
.test1
  border: 1px dashed red
